name: Go

on:
  push:
    branches:
      - main
  pull_request:

env:
  wasm-tools-version: "1.219.1"
  wasmtime-version: "26.0.0"

jobs:
  vet:
    name: Vet Go code
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Vet Go code
        run: go vet ./...

  test:
    name: Test with Go
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        go-version: ["1.23"]
        tinygo-version: ["0.34.0"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Add Go wasm exec to $PATH
        run: echo "$(go env GOROOT)/misc/wasm" >> $GITHUB_PATH

      - name: Set up TinyGo
        uses: acifani/setup-tinygo@v2
        with:
          tinygo-version: ${{ matrix.tinygo-version }}

      - name: Set up Wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          version: ${{ env.wasmtime-version }}

      - name: Run Go tests
        run: go test -v ./...

      - name: Run Go tests with race detector
        run: go test -v -race ./...

      - name: Test Go without cgo
        env:
          CGO_ENABLED: 0
        run: go test -v ./...

      - name: Test with TinyGo
        run: tinygo test -v ./...

      - name: Test roundtrip example
        run: ./scripts/test-roundtrip.sh

      - name: Verify repo is unchanged
        run: git diff --exit-code HEAD
